<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">perfil</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <ion-avatar class="profile-avatar">
      <img src="../../assets/images/perfil/fotoPerfil.jpg" alt="profile picture">
    </ion-avatar>
    <h2 class="profile-name">Ryan Young</h2>

    <div class="interests-section">
      <h3>Lista de intereses 
        <ion-icon name="add-circle" slot="end" (click)="toggleMoreInterests()"></ion-icon>
      </h3>
      <div class="interests-scroll">
        <div class="interest-item" *ngFor="let interest of interests">
          <img src="{{interest.image}}" alt="{{interest.name}}">
          <ion-label>{{interest.name}}</ion-label>
          <ion-icon name="close-circle" class="close-icon" *ngIf="isEditing" (click)="removeInterest(interest)"></ion-icon>
        </div>
      </div>
    </div>

    <div *ngIf="showMoreInterests" class="more-interests-section">
      <h3>Agregar intereses</h3>
      <div class="interests-scroll">
        <div class="interest-item" *ngFor="let interest of moreInterests">
          <img src="{{interest.image}}" alt="{{interest.name}}">
          <ion-label>{{interest.name}}</ion-label>
          <ion-button color="primary" (click)="addInterest(interest)">Añadir</ion-button>
        </div>
      </div>
      <ion-item>
        <ion-button color="medium" (click)="goBack()">Atrás</ion-button>
      </ion-item>
    </div>

    <ion-item>
      <ion-label>About</ion-label>
    </ion-item>
    <img src="../../assets/images/perfil/about.jpg" alt="about image" class="about-image">
    
    <div class="profile-description">
      <p *ngIf="!isEditing">{{ profileDescription }}</p>
      <ion-textarea *ngIf="isEditing" [(ngModel)]="editableDescription"></ion-textarea>
    </div>

    <div class="button-group">
      <ion-button color="medium" *ngIf="!isEditing" (click)="editDescription()">EDITAR</ion-button>
      <ion-button color="danger" *ngIf="isEditing" (click)="cancelEdit()">CANCELAR</ion-button>
      <ion-button color="primary" *ngIf="isEditing" (click)="saveDescription()">GUARDAR</ion-button>
    </div>
  </div>
</ion-content>
