
<ion-content [fullscreen]="true">
  <div class="centered-div">
    <h2 size="large">¿Qué te interesa?</h2>
    <ion-input label="" label-placement="floating" fill="outline" placeholder="Busca eventos">
      <ion-icon name="search-outline" slot="start"></ion-icon>
    </ion-input>
    </div>
    
  </ion-content>
  <style>
    .centered-div {
    margin: 5% 40% 5% 40%;
    display: flex;
    flex-direction: column;
    align-items: left;
    }

    .hide-label {
    display: none;
    }
  </style>