<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mis-eventos" href="/tabs/lista-eventos">
      <ion-icon aria-hidden="true" name="calendar-clear-outline"></ion-icon>
      <ion-label>Mis eventos</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="crear-evento" href="/tabs/crear-evento">
      <ion-icon name="add-circle"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eventos" href="/tabs/lista-eventos">
      <ion-icon aria-hidden="true" name="notifications-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="eventos-lista" href="/tabs/lista-eventos">
      <ion-icon aria-hidden="true" name="list-outline"></ion-icon>
      <ion-label>Listas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
